.animation-mask{
	position: relative;
	height: 100px;
	overflow: hidden;
}
.animation-text1{
	position: absolute;
	transform: rotate(10deg);
	top:350px;
	left:0px;
}
.animation-mask2{
	position: relative;
	height: 80px;
	overflow: hidden;
}
.animation-text2{
	position: absolute;
	transform: rotate(10deg);
	top:350px;
	left:0px;
}
.animation-mask3{
	position: relative;
	height: 180px;
	overflow: hidden;
}
.animation-text3{
	position: absolute;
	transform: rotate(10deg);
	top:450px;
	left:0px;
}

@media screen and (max-width: 768px) {
	.animation-mask{
		position: relative;
		height: 55px;
		overflow: hidden;
	}
	.animation-text1{
		position: absolute;
		transform: rotate(10deg);
		top:150px;
		left:0px;
	}	
	.animation-mask2{
		position: relative;
		height: 45px;
		overflow: hidden;
	}
	.animation-text2{
		position: absolute;
		transform: rotate(10deg);
		top:150px;
		left:0px;
	}
	.animation-mask3{
		position: relative;
		height: 110px;
		overflow: hidden;
	}
	.animation-text3{
		position: absolute;
		transform: rotate(10deg);
		top:200px;
		left:0px;
	}
}