@font-face {
  font-family: "Questrial";
  src: local("Questrial-Regular"),
   url("/fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: bold;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Questrial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
	--button-border-radius: 40px;
	--button-bg: black;
	--button-stroke: rgb(50, 50, 50);
	--button-stroke-width: 1px;
	--button-text: #fff;
	--button-bg-hover: #353535;;
	--button-stroke-hover: #353535;
	--button-stroke-width-hover: 2px;
	--button-text-hover: #fff;
	--cursor-stroke: #FF5C00;
  --cursor-fill: #FF5C00;
  --cursor-stroke-width: 1px;
	--button-filler:  #FF5C00;
	--color-bg: #ccc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//---------------- dark/light button css start ----------
.button {
	position: relative;
}

.button {
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-width: var(--button-stroke-width);
	// border-color: #353535;
	border: solid 2px #353535;
	border-style: solid;
	color: #fff;
	background: var(--button-bg);
	border-radius: var(--button-border-radius);
	min-width: 14rem;
	height: 3.5rem;
	padding: 0;
	margin: 0.1rem;
	font-family: inherit;
	font-size: 32px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:focus,
.button--hover {
	outline: none;
	border-width: var(--button-stroke-width-hover);
	border-color: var(--button-stroke-hover);
	color: var(--button-text-hover);
}

.button__filler {
	background: var(--button-filler);
	position: absolute;
	width: 150%;
	height: 200%;
	border-radius: 50%;
	top: -50%;
	left: -25%;
	transform: translate3d(0,75%,0);
}

.button__text, 
.button__text-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.button:hover{
	.button__text, 
	.button__text-inner {
		color:black;
	}
}
//---------------- dark/light button css end ----------



//---------------- foward button css ----------

.button-next {
	pointer-events: auto;
	cursor: pointer;
	// background: #e7e7e7;
	background: black;
	border: solid 2px #353535;
	border-radius: 70px;
	width: 180px;
	min-width: 180px;
	height: 70px;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button--service{
	min-width: 220px;
}

.button-next::before,
.button-next::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.button--telesto {
	overflow: hidden;
	font-family: obvia, sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 1.15rem;
	color: #fff;
}

.button--telesto:hover {
	
	color:#FF5C00;
}

.button--telesto span {
	display: block;
	position: relative;
	z-index: 1;
}

.button--telesto > span {
	overflow: hidden;
	mix-blend-mode: difference;
}

.button--telesto > span > span {
	display:flex;
	justify-content: center;
	align-items: center;
}

.button--telesto:hover > span > span {
	display:flex;
	justify-content: center;
	align-items: center;
	animation: MoveRightInitial 0.1s forwards, MoveRightEnd 0.3s forwards 0.2s;
}

@keyframes MoveRightInitial {
	to {
		transform: translate3d(105%,0,0);
	}
}

@keyframes MoveRightEnd {
	from {
		transform: translate3d(-100%,0,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}

.button--telesto::before,
.button--telesto::after {
	content: '';
	background: #FF5C00;
}

.button--telesto::before {
	width: 135%;
	-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 0%);
	transform: translate3d(-100%,0,0);
}

.button--telesto:hover::before {
	transform: translate3d(0,0,0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--telesto::after {
	width: 105%;
	transform: translate3d(100%,0,0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--telesto:hover::after {
	transform: translate3d(0,0,0);
	transition: transform 0.01s 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

//---------------- foward button css end ----------

//------------------------hover-image css----------------------

/* Page Loader */
.loading::before,
.loading::after {
    content: '';
    position: fixed;
    z-index: 1000;
}

.loading::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b1a59f;
}

.loading::after {
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border-radius: 50%;
    opacity: 0.4;
    background: #333;
    animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5,0.5,1);
    }
}

canvas {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
		pointer-events: none;
		max-width: 100vw !important;
		max-height: 100vh !important;
		margin:0px;
		padding:0px;
}

.link {
    cursor: pointer;
}

.link img {
    display: none;
}
//------------------------hover-image css end --------------------


